/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

   .top-menu__item {
      margin: 0;
   }

   .home-callback__list li {
      width: 49%;
   }
}
@media (max-width : 1199px) {
   .blog-item__wrapper {
      grid-template-rows: 150px 1fr;
   }

   .our-projects__row {
      grid-auto-rows: 190px;
   }
}

/* md <= Large (lg) */
@media (max-width : 991px) {
   
   .top-menu {
      position: absolute;
      right: 50px;
      top: -7px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(15px);
      background-color: var(--dark);
      border-radius: var(--radius);
      overflow: hidden;
      transition: transform .5s, opacity .8s, visibility 1s;
   }
   .top-menu__item {
      display: block;
   }
   .top-menu__link {
      display: block;
      text-align: left;
      padding: 14px 35px;
      color: rgba(255, 255, 255, .5);
      border-bottom: 1px solid rgba(255, 255, 255, .05);
      border-radius: 0;
      line-height: 1.5;
      font-size: 12px;
      text-transform: uppercase;
   }
   .top-menu__link:hover, .top-menu__link:focus, span.top-menu__link {
      color: rgba(255, 255, 255, .75);
      background-color: rgba(196, 196, 196, 0.075);
   }
   .navbar-deep .top-menu {
      background-color: #DCDCDC;
   }
   .navbar-deep .top-menu__link:hover {
      color: var(--text-color);
      background-color: #d3d3d3;
   }
   .navbar-deep .top-menu__link:focus {
      color: var(--text-color);
      outline: 2px solid var(--accent);
   }
   .navbar-deep span.top-menu__link, .navbar-deep span.top-menu__link:hover {
      color: rgba(255, 255, 255, .75);
      background-color: #555;
   }

   .menu-toggle {
      display: block;
   }
   .menu-toggle:focus {
      outline: 2px solid var(--accent);
   }

   .home-callback__list,
   .home-callback__header {
      display: none;
   }
   .home-callback__text-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .item-advantages {
      align-items: center;
      background-color: var(--light-bg);
      padding: 20px;
   }
   .item-advantages__heading {
      flex-direction: column;
      text-align: center;
      row-gap: 15px;
   }
   .item-advantages__heading img {
      min-height: 35px;
   }
   .item-advantages__desc
    {
      display: none;
   }
   .item-advantages__heading img {
      max-width: 35px;
      margin-right: 10px;
   }

   /* scroll up */
   .scrollup {
      --size: 40px;
   }

   .our-projects__row {
      gap: 10px;
   }

   .blog-item__wrapper {
      grid-template-rows: 170px 1fr;
   }

   .our-projects__row {
      grid-auto-rows: 145px;
   }

}

/* sm <= Medium (md) */
@media (max-width : 767px) {

   .best-works__left {
      display: none;
   }
   .best-works__top-item {
      flex: 0 0 100%;
   }

   .best-item {
      display: flex;
   }
   .best-works__img-wrapper {
      max-width: 200px;
      width: 100%;
   }

   .our-patners__list {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
   }


   .item-advantages {
      align-items: flex-start;
   }
   .item-advantages__more {
      display: block;
   }
   .item-advantages__more {
      margin-top: 15px;
   }
   .item-advantages__heading {
      min-height: auto;
      flex-direction: row;
   }
   .item-advantages__desc {
      display: block;
   }
   .advantages-slider-wrapper {
      display: none;
   }
   

   .our-blog__content {
      max-width: 330px;
      margin-left: auto;
      margin-right: auto;
   }

   .blog-company__container {
      max-width: 730px;
   }

   .our-projects__list {
      row-gap: 10px;
   }
   .our-projects__row {
      grid-auto-rows: 160px;
      grid-template-columns: repeat(2, 1fr);
   }

}

/* xs <= Small (sm) */
@media (max-width : 576px) {
   .navbar {
      left: 10px;
      right: 10px;
   }
   .menu-toggle {
      right: 10px;
   }
   .top-menu {
      right: 45px;
   }
   .navbar-deep {
      left: 0;
      right: 0;
      padding-inline: 10px;
   }

}
@media (max-width : 575px) {
   .blog-company__container {
      max-width: 390px;
   }
   .blog-item-noslide .blog-item__wrapper {
      grid-template-rows: 185px 1fr;
   }

   .our-projects__container {
      max-width: 550px;
   }
}

@media (max-width : 490px) {
   .our-projects__list {
      gap: 15px;
   }
   .our-projects__row {
      gap: 15px;
      grid-auto-rows: calc(100vw / 1.7);
      grid-template-columns: 1fr;
   }
}

@media (max-width : 460px) {
   .best-item {
      display: block;
   }
   .best-works__img-wrapper {
      max-width: 100%;
   }
}

@media (max-width : 440px) {
   .home-slider__bottom {
      padding-right: 15px;
   }
   .home-slider__next {
      padding-left: 15px;
   }
   .home-slider__prev {
      padding-right: 15px;
   }
}

@media (max-width : 330px) {
   .blog-item__wrapper,
   .blog-item-noslide .blog-item__wrapper {
      grid-template-rows: 150px 1fr;
   }
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {
   
}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
   .container {
      max-width: 1140px;
   }
}
